body
{
    
    /* background-color:lightblue; */
    text-align:center;
    margin: 0;
    font-family: 'Merriweather', serif;



}
.name{
    
    color:rgb(119, 194, 241);
}
.task{
    color:rgb(219, 143, 219);
}
h1{
    font-family: 'Sacramento';
    font-size: 5.6rem;
    color:#66bfbf;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    color:#11999E;
    font-weight: normal;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
    font-size: 2.5rem ;
    
}

h1{
    margin-top: 200px;
    
}
h3{
    margin-top: 20px;
}

.dir-pic{
    width:5%;
    padding-top: 5px;
    

}
                        /* use in header pic */



.ul-link{
    background-color: #e2f49b;
    /* display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    height: 30%; */

    
}
                        /* use in header link */

.nav-tab{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding:0;
    height: 30%;
    padding: none;
}



li >a{
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 20px;
    line-height: 2;
    

}
li >a :hover{
    color: #d6b566;
}

                    /* use in header a tag */

.li-div{
    display: flex;
    justify-content:space-between;
    
    padding: 5px;
}


.profile-pic{
    width:15%;
    margin: 20px 0  ;

}
.intro{
    width:30%;
    margin: 0 auto; 
    line-height: 1.5;
    
}
hr{
    border:dotted #77eeee;
    width:15%;
    margin: 50px auto;
    border-bottom:none ;
    
}

.footer-link{
    text-decoration:none;
    line-height: 2;
    margin:0 5px;
}

.footer-link:hover{
    color:#ffff;
}

.copyright{
    color:#fff;
    font-size: 1.5rem;
}

.skill-row{
    width:50%;
    margin: 0 auto 0 auto ;
    text-align: left;
    line-height: 1.5;
}
.img-skill{
    width:25%;
    float:left;
}
.img-skill1{
    width:25%;
    float:right;

}
.top{
    /* background-color:rgb(173, 230, 205); */
    position:relative;
    padding-top: 100px;
    width: 100%;
    height: 100%;

}
.top-cloud{
position:absolute;
    right: 150px;
    top: 50px;
    /* background-color: rgb(195, 230, 230); */
}
.bottom-cloud{
    position:absolute;
    left:30px;
        top: 400px;
    }

.img-b{
    /* margin-top:200px; */
    width:30% ; 
    margin-bottom:30px;
}

.bottom-container{
    background-color: #77eeee;
    padding: 50px 0 20px;
    text-decoration: none;
}

