body
{
    
    /* background-color:lightblue; */
    text-align:center;
    margin: 0;
    font-family: 'Merriweather', serif;



}
.name{
    
    color:rgb(119, 194, 241);
}
.task{
    color:rgb(219, 143, 219);
}
h1{
    font-family: 'Sacramento';
    font-size: 5.6rem;
    color:#66bfbf;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    color:#11999E;
    font-weight: normal;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66bfbf;
    
}

h1{
    margin-top: 200px;
    
}
h3{
    margin-top: 20px;
}

.skill-row{
    width:50%;
    margin: 0 auto 0 auto ;
    text-align: left;
    line-height: 1.5;
}
.img-skill{
    width:25%;
}
.top{
    background-color:lightblue;
    position:relative;
    padding-top: 100px;
    width: 100%;
    height: 100%;

}
.top-cloud{
position:absolute;
    right: 150px;
    top: 50px;
    /* background-color: rgb(195, 230, 230); */
}
.bottom-cloud{
    position:absolute;
    left:30px;
        top: 400px;
    }

.img-b{
    margin-top:200px;
    /* width:10% */
}